<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLW eSports</title>
</head>
<body>
    <header>
        <div class="avatar">
            <img class="avatar__img" src="https://avatars.githubusercontent.com/u/28987549?v=4" alt="foto de perfil do Douglas segurando Arco e Flecha">
        </div>    
    </header>
    <main>
        <section class="jogos">
            <div class="jogos__card-border">
                <div class="jogos__card">
                    <h2>Meus Jogos</h2>
                    <p>Os games que eu mais curto jogar!</p>
    
                    <ul>
                        <li>
                            <a
                            target="_blank" 
                            href="https://www.twitch.tv/directory/game/League%20of%20Legends">
                                <img class="img-jogo" src="https://static-cdn.jtvnw.net/ttv-boxart/21779-188x250.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a
                            target="_blank"  
                            href="https://www.twitch.tv/directory/game/VALORANT">
                                <img class="img-jogo" src="https://static-cdn.jtvnw.net/ttv-boxart/516575-188x250.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a
                            target="_blank" 
                            href="https://www.twitch.tv/directory/game/Splatoon%203">
                                <img class="img-jogo" src="https://static-cdn.jtvnw.net/ttv-boxart/1158884259_IGDB-188x250.jpg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
</body>
</html>